/* CSS INDEX */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    /* background-color: rgb(246, 246, 237); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
   
}

.header{
    position: absolute;
    top: 1px;
    background-color: rgb(240,235,223);
    width: 100%;
    height: 12%;
    display: flex;
}

.header img{
    width: 70px;
    height: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 40px; */
}
/* .search-header{
    position: absolute;
    top: 0px;
    background-color: rgb(240, 235, 223);
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    
}


























.row{
    display: flex; /* coloca lado a lado */
    align-items: center; /*centro cima baixo*/
    justify-content: center; /*centro esquerda direita*/
}

.card{
    border-radius: 2px; /*arredonda bordas*/
    box-shadow: 4px 3px 10px -2px rgba(69, 71, 90, 0.13);/*https://cssgenerator.pl/en/box-shadow-generator/*/
    padding: 5px;/* espaço ao redor do conteúdo*/
    margin: 5px;/* espaço ao redor do elemento*/
    width: 280px;/* largura de um elemento*/
    transition: all 0.3s ease-out;/* efeito a ser colocado - efeito de transição com final lento */
}

.card:hover{
    transform: translate(-2px); /* sobe o card */
    cursor: pointer; /* mouse vira maozinha*/
}


.card p{ /* estiliza o paragrafo */
    color: rgb(2, 32, 56); /*cor do parágrafo*/
    font-size: 16px; /*tamanho fonte parágrafo*/
}

.card del{
    color: rgb(186, 44, 44);
}

.card h3{
    color: rgb(20, 32, 140);
}

.imagem{ /* centraliza img e muda tamanho */
    margin: auto;
    display: block;
    max-width: 200px;
    max-height: 200px;
}
